@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Отключение 2FA не меняет ключи, используемые в приложениях-аутентификаторах. Если вы хотите изменить ключ,
        используемый в приложении для аутентификации, вам следует <a asp-action="ResetAuthenticatorWarning">
        сбросить ваши ключи аутентификатора.
</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
